<router-outlet></router-outlet>

<h1>This is task 29!</h1>
<p>We doeseth welcometh thee.</p> 

<p>{{ text }}</p>
<p>This is my secret number but dont tell anyone... {{ number }} </p>

<ul>
  <li *ngFor="let task of list">
    {{ task }}
  </li>
</ul>

<ul>
  <li *ngFor="let info of user| keyvalue">
    {{ info.key }}: {{ info.value }}
  </li>
</ul>
